schemas/vatic.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="annotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="folder"/>
        <xs:element type="xs:string" name="filename"/>
        <xs:element name="source">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="sourceImage"/>
              <xs:element type="xs:string" name="sourceAnnotation"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="object" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="moving"/>
              <xs:element type="xs:string" name="action"/>
              <xs:element type="xs:byte" name="verified"/>
              <xs:element type="xs:byte" name="id"/>
              <xs:element type="xs:byte" name="createdFrame"/>
              <xs:element type="xs:byte" name="startFrame"/>
              <xs:element type="xs:short" name="endFrame"/>
              <xs:element name="polygon" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="t"/>
                    <xs:element name="pt" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="x"/>
                          <xs:element type="xs:short" name="y"/>
                          <xs:element type="xs:byte" name="l"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>